resource {{ resource_drbd_name }} {
        protocol C;
        device /dev/drbd0;
        disk /dev/sdb;
        meta-disk internal;
        on postfix01 {
                node-id 0;
                address {{ postfix01_ip }}:7788;
        }
        on postfix02  {
                node-id 1;
                address {{ postfix02_ip }}:7788;
        }
        on postfix03  {
                node-id 2;
                address {{ postfix03_ip }}:7788;
        }
        connection-mesh {
          hosts postfix01 postfix02 postfix03;
          net {
            data-integrity-alg sha1;
            csums-alg sha1;
            use-rle yes;
          }
        }
}