hosts = {{ postfix_db_host }}:{{ postfix_db_port }}
user = {{ postfix_db_user }}
password = {{ postfix_db_pass }}
dbname = {{ postfix_db_name }}
query = SELECT maildir FROM mailbox WHERE username='%s' AND active = '1'